.table {
  width: 972px;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;

  th,
  td {
    padding: 10px;
    text-align: left;
  }
}
.sands {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 94px;
}

.select {
  width: 234px;
  height: 36px;
}
